<div class="container">
    <h1>Pokémon Favoritos</h1>
    <div *ngIf="favorites.length > 0; else noFavorites">
      <div *ngFor="let pokemon of favorites" class="card">
        <h3>{{ pokemon.nombre }}</h3>
        <p><strong>Tipo:</strong> {{ pokemon.tipo }}</p>
        <p><strong>Altura:</strong> {{ pokemon.altura }} m</p>
        <p><strong>Peso:</strong> {{ pokemon.peso }} kg</p>
      </div>
    </div>
  
    <ng-template #noFavorites>
      <p>No tienes Pokémon favoritos.</p>
    </ng-template>
  </div>
  