<div class="edit-page" *ngIf="pokemon">
  <div class="edit-content">
    <h2>Editar Pokémon</h2>
    <form (ngSubmit)="editarPokemon()">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" [(ngModel)]="pokemon.nombre" name="nombre" required />
      </div>
      <div class="form-group">
        <label for="tipo">Tipo:</label>
        <input type="text" id="tipo" [(ngModel)]="pokemon.tipo" name="tipo" required />
      </div>
      <div class="form-group">
        <label for="altura">Altura:</label>
        <input type="number" id="altura" [(ngModel)]="pokemon.altura" name="altura" required />
      </div>
      <div class="form-group">
        <label for="peso">Peso:</label>
        <input type="number" id="peso" [(ngModel)]="pokemon.peso" name="peso" required />
      </div>
      <button type="submit">Guardar Cambios</button>
    </form>
  </div>
</div>
