<div class="container">
  <h2>🐾 Agregar Nuevo Pokémon 🐾</h2>
  <form (ngSubmit)="onSubmit()" class="pokemon-form">
    <div class="form-group">
      <label for="id">🆔 ID:</label>
      <input
        type="number"
        id="id"
        [(ngModel)]="pokemon.id"
        name="id"
        required
        class="form-control"
        placeholder="Ingresa el ID del Pokémon"
      />
    </div>

    <div class="form-group">
      <label for="nombre">📛 Nombre:</label>
      <input
        type="text"
        id="nombre"
        [(ngModel)]="pokemon.nombre"
        name="nombre"
        required
        class="form-control"
        placeholder="Ingresa el nombre del Pokémon"
      />
    </div>

    <div class="form-group">
      <label for="altura">📏 Altura (m):</label>
      <input
        type="number"
        id="altura"
        [(ngModel)]="pokemon.altura"
        name="altura"
        required
        class="form-control"
        placeholder="Ejemplo: 1.2"
      />
    </div>

    <div class="form-group">
      <label for="peso">⚖️ Peso (kg):</label>
      <input
        type="number"
        id="peso"
        [(ngModel)]="pokemon.peso"
        name="peso"
        required
        class="form-control"
        placeholder="Ejemplo: 15.5"
      />
    </div>

    <div class="form-group">
      <label for="tipo">🔖 Tipo:</label>
      <input
        type="text"
        id="tipo"
        [(ngModel)]="pokemon.tipo"
        name="tipo"
        required
        class="form-control"
        placeholder="Ejemplo: Agua, Fuego"
      />
    </div>

    <button type="submit" class="btn btn-submit">✨ Agregar Pokémon ✨</button>
  </form>
</div>
